<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Local">
    <listeners>
      <add name="Remote Trace Listener" type="ZC57s.Logging.Client.TraceListeners.ServiceTraceListener,ZC57s.Logging.Client" listenerDataType="ZC57s.Logging.Client.TraceListeners.ServiceTraceListenerData,ZC57s.Logging.Client" />
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollSizeKB="1024" fileName="log.log" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" template="Timestamp: {timestamp(local:yyyy-MM-dd HH:mm:ss)}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Database">
        <listeners>
          <add name="Remote Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Local">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="SupportCustomization" value="true" />
    <add key="Caption" value="统一业务应用软件" />
    <add key="IceGridQueryPrx" value="SPPAppServer/Query" />
    <add key="IceCfgFile" value="config.client" />
  </appSettings>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="AddIn;BaseLib;Common;Services;OrgManage;Document;CaseCard;Workflow;TaskManage;CaseManage;ManagePlatform;NoManage;DataDictionaryManage;MetaDataManage;SystemMessageManage;LoggingManage;SealPrint;PublishManage;CaseBackManage;IndictManage;AgentManage;ManagePlatformIndex;FX;AJ2013Integration;CaseForeWarn;SendDocmentManage;Dossier;WebKitCore;BusinessSupervise;JWGK;GWSP;ZJYW;AGTJ_UserClient;JWH;Archives" />
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>