<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="email=no"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <title></title>
  <% if (process.env.NODE_ENV == 'development') { %>
  <link rel="stylesheet" href="/css/ionicons.min.css" />

  <!--加载JQuery之前加入以下代码，解决Electron JQuery报错{-->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
  <script>if (window.module) module = window.module;</script>
  <!--}-->
  <script type="text/javascript" src="/js/jquery.js"></script>
  <% } %>
  <% if (process.env.NODE_ENV == 'production') { %>
  <link rel="stylesheet" href="/cm/static/css/ionicons.min.css" />
  <script type="text/javascript" src="/cm/static/js/jquery.js"></script>
  <% } %>
</head>
<style>



</style>
<body>
<div id="root" class="custom-antd-theme light-theme"></div>
<div id="feedback"></div>
</body>
</html>
